.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    img {
        height: 5rem;
        width: 15rem;
    }

    a{
        text-decoration: none;
        color: whitesmoke;
    }
    
    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 60%;
        
        h3{
            text-transform: uppercase;
            transition: 0.6s;
        }

        h3:hover {
            transform: scale(1.15);
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 1rem;
        padding: 0;

        img {
            width: 15rem;
            padding: 1rem 0;
        }
    }

    .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }
}
    